.todoForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.todoInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 10px;
}

.todoButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF1493;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.todoButton:hover {
    background-color: #C71585;
}
