@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.homePage{
    margin-top: 200px;
}
.posts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.post {
    display: flex;
    gap: 50px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.picture1 img {
    margin-left: 150px;
    max-width: calc(150% - 300px);
    object-fit: cover;
}
.content p {
    flex: 2;
}

.content {
    flex: 3;
    padding-right: 50px;
    max-width: calc(100% - 350px);
}
body {
    font-family: 'Inter', sans-serif;
}

.content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: -70px;
}

.Post1-description {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}


.content button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content button:hover {
    background-color: #0056b3;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.evenRow {
    background-color: #f2f2f2;
}

.oddRow {
    background-color: #ffffff;
}
.table tbody tr:hover {
    background-color: #f5f5f5;
}
@media screen and (max-width: 768px) {
    .homePage{
        margin-top: 250px;
    }
    .picture1 img {
        max-width: 100%;
        margin-left: 0;
    }
    .content {
        max-width: 100%;
        padding-right: 20px;
    }
    .content h1 {
        font-size: 28px;
    }
    .Post1-description {
        font-size: 16px;
    }
}