.footer {
    background-color: #f8f9fa;
    color: #495057;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer a {
    color: #282c34;
    text-decoration: none;
}

.someText {
    margin-top: 20px;
    font-style: italic;
    color: #6c757d;
}